{
	"tasks" : {
		"storage" : [
			{ 
				"cron_time" : "*/1 * * * *",
				"function" : "test1",
                "args" : { 
                    "command":"ls",
                    "args" : "-l"        
                } 
			},
		},
		]
	},
    "gearman" : "localhost"
}
